# Do not include azure-functions-worker in this file -- the Python worker
# is managed by the Azure Functions platform.

azure-functions
azure-identity
azure-keyvault-secrets
pandas
requests
pyodbc
SQLAlchemy
rapidfuzz
